In [1]:
import pandas as pd
import numpy as np

In [2]:
Seoul_household_gu = pd.read_csv("Seoul_household_gu.csv", encoding="utf-8")
Seoul_household_gu.head()

,Unnamed: 0,계,1인가구,2인가구,3인가구,4인가구,5인 가구,6인가구,7인이상 가구
0,합계,"3,784,705","1,138,860","931,262","816,946","686,469","163,555","37,153","10,460"
1,종로구,"60,786","22,835","14,974","11,060","8,712","2,397",618,190
2,중구,"51,503","19,671","13,086","9,453","6,844","1,836",480,133
3,용산구,"90,164","31,641","23,505","17,580","13,121","3,327",780,210
4,성동구,"116,401","37,074","28,668","24,655","19,874","4,636","1,164",330

In [3]:
Seoul_LocalHealth = pd.read_csv("Seoul_LocalHealth.csv", encoding="utf-8")
Seoul_LocalHealth.head()

    지역  현재흡연율  현재흡연자의 금연시도율  고위험음주율  스트레스 인지율
0  서울시   19.5          32.4    16.1      29.1
1  종로구   20.4          35.2    20.1      25.4
2   중구   22.2          26.9    20.3      28.6
3  용산구   19.5          31.9    18.9      28.7
4  성동구   20.5          39.3    16.2      28.4

In [4]:
Seoul_household_gu1 = pd.read_csv('Seoul_household_gu1.csv', engine= 'python')
Seoul_household_gu1.head()

,지역,계,1인가구,2인가구,3인가구,4인가구,5인 가구,6인가구,7인이상 가구
0,서울시,"3,784,705","1,138,860","931,262","816,946","686,469","163,555","37,153","10,460"
1,종로구,"60,786","22,835","14,974","11,060","8,712","2,397",618,190
2,중구,"51,503","19,671","13,086","9,453","6,844","1,836",480,133
3,용산구,"90,164","31,641","23,505","17,580","13,121","3,327",780,210
4,성동구,"116,401","37,074","28,668","24,655","19,874","4,636","1,164",330

In [5]:
Seoul_household_gu1['1인가구비율'] = Seoul_household_gu1['1인가구'] / Seoul_household_gu1['계'] * 100

TypeError: unsupported operand type(s) for /: 'str' and 'str'